/* SFONDO */
.background{
    width: 100%;
    height: 100vh;
    background-color: #212121;
    background-image: url("../img/mirrored-squares.png");
}

/* BORDI */
.app-border-1{
    width: 65%;
    height: 100vh;
    background-color: rgba(103, 79, 44, 1);
    background-image: url("../img/dark-exa.png");
    margin: 0 auto;
    padding: 0 4px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

.between-borders{
    width: 100%;
    height: 100vh;
    padding: 0 2px;
    background-color: black;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.app-border-2{
    width: 100%;
    height: 100vh;
    padding: 0 4px;
    background-color: rgba(103, 79, 44, 1);
    background-image: url("../img/dark-exa.png");
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

/* CONTENT */
.app-container{
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url("../img/black-paper.png");
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.app-container{
    height: 100%;
}

.container-img{
    width: 100%;
    text-align: center;
}

.container-img img{
    width: 300px;
}

.titolo h1{
    color: white;
    padding-left: 36px;
}

/* INGREDIENTI */
.ingredients-list{
    width: 100%;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ingredient{
    width: calc(100% / 3 - 25px);
    height: 215px;
    background: linear-gradient(135deg, rgba(255,255,255,0.01) 65%, rgba(0,0,0,0.2) 100%);
    cursor: pointer;
    text-align: center;
    color: white;
    padding: 15px;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s;
}

.ingredient:hover:not(.ingredient.active){
    background: linear-gradient(315deg, rgba(255,255,255,0) 65%, rgba(0,0,0,0.4) 100%);
}

.ingredient:hover{
    transform: scale(1.08);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.ingredient:active{
    transform: scale(0.99);
}

.active{
    background: linear-gradient(90deg, rgba(130, 71, 5, 0.25) 0%, rgba(0,0,0,0) 70%);
    transform: scale(0.98);
}

.ingredient.active img {
    filter: drop-shadow(0 0 5px rgba(103, 79, 44, 1));
}

.ingredient img{
    width: 70px;
}

.ingredient h3 {
    margin: 7px 0 0;
}

.ingredient p {
    margin-top: 5px;
    font-size: 14px;
    text-align: left;
}

.counter{
    position: absolute;
    bottom: 15px;
    right: 15px;
}

#remove{
    font-size: 18px;
}

#count{
    font-size: 16px;
}

input{
    display: none;
}

.ingredient.active #remove:hover,
.ingredient.active #add:hover,
.ingredient.active #count{
    color: #aa6f19;
}

/* BOTTONE CREA */
.button-container{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

#my-btn{
    width: 150px;
    margin: 0 auto 30px;
    border: 3px solid rgba(0, 0, 0, 0.8);
    background-color: rgba(103, 79, 44, 0.75);
    background-image: url("../img/mirrored-squares.png");
    background-size: 50px;
    color: black;
    padding: 5px 30px;
    font-size: 25px;
    font-weight: 600;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

#my-btn:hover{
    background-color: rgba(41, 29, 11, 0.75);
    color: white;
}

#my-btn:active{
    transform: scale(0.98);
}
